.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: inherit;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c0c2c5;
}

.labelFocused {
  font-size: 16px;
  font-weight: 700;
  color: #3f22d2;
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #c0c2c5;
  font-family: Arial, Helvetica, sans-serif;
}

.error {
  font-size: 12px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
